.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.standard-knap {
    color: var(--color-white);
    background-color: var(--color-one);
    text-align: center;
    padding: var(--knap-padding);
    border-radius: var(--border-radius2);
}
h1 {
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-bold);
    text-align: center;
}
h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-regular);
    text-align: center;
}
h3, h5 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    padding: 1rem 0;
}
h4
 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}
p {
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}
header {
    position: fixed;
    width: 100%;
}
.header_øverst {
    background-color: var(--color-three);
    height: 2svh;
    justify-content: flex-end;
    font-size: 0.6rem;
    gap: 0.2rem;
    padding: 0.4rem 0.4rem ;
    align-items: center;

}
.header_nederst {
    background-color: var(--color-one);
    height: 4svh;
    justify-content: space-between;
    padding: 1.5rem 0.5rem;
    align-items: center;

}
.header_nederst i{
    font-size: var(--font-size-xxlarge);
}
.hero {
    height: 35svh;

}
.hero img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.first {
    background-color: var(--color-one);
    color: var(--color-three);
    width: 100%;
    padding: 1rem;
align-items: center;}
.sec  {
    padding: 1rem 2rem 3rem 2rem;
    background-color: var(--color-three);

}
.sec article {
    justify-content: start;
    color: var(--color-four);
    gap: 1.5rem;
}


.sec form {
    background-color: var(--color-two);
    border-radius: var(--border-radius1);
    padding: 2.5rem;
    gap: 1rem;
    min-width: 275px;
    margin: 2rem 1.5rem;
    height: fit-content;
}
.sec form .text {
    background-color: var(--color-white);
    color: var(--color-four);
    border-radius: var(--border-radius2);
    padding: var(--knap-padding);
    width: 100%;
    font-size: var(--font-size-regular);
}
.third {

    text-align: center;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
}
.third h5 {
    color: var(--color-four);
}
.third p {
    text-align: left;
    color: var(--color-four);

}
.third a {
width: fit-content;
align-self: center;
}

footer {
    background-color: var(--color-two);
    height: 15svh;
    color: var(--color-white);
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: var(--font-size-large);
    
}

@media only screen and (max-width: 700px) {
    .sec {
        flex-direction: column;
    }
}